<!DOCTYPE HTML>
<html>
  <head>
  	<title>OfficeUI Framework - Ribbon Components</title>
    <link rel="stylesheet" href="../../Resources/Stylesheets/site.css" />
  </head>
  <body>
    <div class="title">OfficeUI - Development Center</div>
    
    <!-- Section: Top Navigation. -->
    <div class="nav_bar">
      <div class="contents center">
  	    <ul>
  	    	<li><a href="../../index.html">OfficeUI Framework</a></li>
          	<li><a href="../index.html" class="active">Components</a></li>
  	    </ul>
      </div>
    </div>
    <!-- End Of Section: Top Navigation. -->

    <!-- Section: Contents. -->
    <div class="contents center">
      <div class="navigation_holder">

        <!-- Section: Left Menu. -->
        <div id="left_nav">
          <ul>
            <li>
              <li><a href="index.html">Ribbon</a>
              <ul>  
                <li><a href="components.html" class="active">Components</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- End Of section: Left Menu. -->  
      </div>

      <!-- Section Article. -->
      <div class="article">
        <h1>Ribbon Components</h1>
        <p>
          The OfficeUI Ribbon is composed out of various elements that together form a whole ribbon. Those items cannot exist independently from eachother. <br/>
          An abstract view of how the Ribbon is composed can be explained with the image below.
        </p>

        <img src="../../Resources/Images/Ribbon/abstract_components.png" />
      </div>
      <!-- End Of Section: Article. -->

    </div>
    <!-- End Of Section: Contents. -->
  </body>
</html>