<!DOCTYPE HTML>
<html>
  <head>
  	<title>OfficeUI Framework - Ribbon</title>
    <link rel="stylesheet" href="../../Resources/Stylesheets/site.css" />
  </head>
  <body>
    <div class="title">OfficeUI - Development Center</div>
    
    <!-- Section: Top Navigation. -->
    <div class="nav_bar">
      <div class="contents center">
  	    <ul>
  	    	<li><a href="../../index.html">OfficeUI Framework</a></li>
          <li><a href="../index.html" class="active">Components</a></li>
  	    </ul>
      </div>
    </div>
    <!-- End Of Section: Top Navigation. -->

    <!-- Section: Contents. -->
    <div class="contents center">
      <div class="navigation_holder">

        <!-- Section: Left Menu. -->
        <div id="left_nav">
          <ul>
            <li>
              <a href="../index.html">Components</a>     
              <ul>  
                <li><a href="index.html" class="active">Ribbon</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- End Of section: Left Menu. -->  
      </div>

      <!-- Section Article. -->
      <div class="article">
        <h1>Ribbon</h1>
        <p>
          The OfficeUI ribbon is a command bar which is visible at the top of your page and exposes the most common features of your application.
        </p>

        <h2>In this section</h2>
        <table>
          <tbody>
            <tr>
              <th>Topic</th>
              <th>Description</th>
            </tr>
            <tr>
              <td><a href="components.html">Ribbon components</a></td>
              <td>This document gives an overview of all the different components out of which a ribbon is constructed.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- End Of Section: Article. -->

    </div>
    <!-- End Of Section: Contents. -->
  </body>
</html>