<!DOCTYPE HTML>
<html>
  <head>
  	<title>OfficeUI Framework - Components</title>
    <link rel="stylesheet" href="../Resources/Stylesheets/site.css" />
  </head>
  <body>
    <div class="title">OfficeUI - Development Center</div>
    
    <!-- Section: Top Navigation. -->
    <div class="nav_bar">
      <div class="contents center">
  	    <ul>
  	    	<li><a href="../../index.html">OfficeUI Framework</a></li>
          <li><a href="index.html" class="active">Components</a></li>
  	    </ul>
      </div>
    </div>
    <!-- End Of Section: Top Navigation. -->

    <!-- Section: Contents. -->
    <div class="contents center">
      <div class="navigation_holder">

        <!-- Section: Left Menu. -->
        <div id="left_nav">
          <ul>
            <li>
              <a href="index.html" class="active">Components</a>     
              <ul>  
                <li><a href="Ribbon/index.html">Ribbon</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <!-- End Of section: Left Menu. -->  
      </div>

      <!-- Section Article. -->
      <div class="article">
        <h1>Comonents</h1>
        <p>
          The OfficeUI framework comes with a couple of components, some which are extended by plugins and can be used in various traditional web applications.
        </p>
        <p>
          The following components are included in the Framework:
        </p>
        <table>
          <tbody>
            <tr>
              <th>Components</th>
              <th>Description</th>
            </tr>
            <tr>
              <td>Ribbon</td>
              <td>A command bar which is visible at the top of your page and exposes the most common features of your application.</td>
            </tr>
          </tbody>
        </table>

        <h2>In this section</h2>
        <table>
          <tbody>
            <tr>
              <th>Topic</th>
              <th>Description</th>
            </tr>
            <tr>
              <td><a href="Ribbon/index.html">OfficeUI Ribbon</a></td>
              <td>The topics contained in this section explore the various aspects of the OfficeUI ribbon, from the layout on how to built one yourself.</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- End Of Section: Article. -->

    </div>
    <!-- End Of Section: Contents. -->
  </body>
</html>