/* General styling for the ribbon. */
.ribbon { height: 117px; }

/* General styling for the tabs. */
.tabs, .tabs > UL, .tabs > UL LI { height: 24px; }
.tabs > UL LI { height: 23px; line-height: 23px; }
li[role=tab] { padding-left: 12px; padding-right: 13px; border: 1px solid transparent; border-bottom: 1px solid #D4D4D4; }

/* Styling for the content of the tabs. */
.contents { left: 0px; color: #444444; height: 93px; width: 100%; display: none; }
.contents.active { display: block; }
.group { height: 91px; margin-top: 3px; vertical-align: top; }
.legend { bottom: 0px; text-align: center; height: 20px; line-height: 20px; width: 100%; }
.icongroup { height: 75px; padding-top: 2px; margin-left: 4px; vertical-align: top; }
.arrow { bottom: 2px; left: 2px; }
.seperator { background-color: #D4D4D4; height: 84px; margin-left: 7px; margin-top: 4px; width: 1px; }

/* Styling for the icons in the tabs. */
.icon.active { background-color: #92c0e0; }
.smallicon { height: 24px; padding-right: 5px; padding-left: 3px; }
.smallicon > IMG { vertical-align: middle; }
.bigicon { padding-left: 3px; padding-right: 3px; padding-top: 1px; vertical-align: top; }
.bigicon > IMG { height: 32px; width: 32px; }
.bigicon:not(.disabled):not(.active):hover, .smallicon:not(.disabled):not(.active):hover { background-color: #CDE6F7; }
.iconlegend { line-height: 16px; }

/* Styling for the menu behind an item. */
.menu { box-shadow: 0 0 0 #888888; display: block; left: 0px; z-index: 9999; display: none; }
.menucontents {  padding: 1px 2px 1px 2px; background-color: #FFFFFF; background-image: linear-gradient(#C6C6C6, #C6C6C6), linear-gradient(#C6C6C6, #C6C6C6); background-position: 0 0px, 100% 0; background-repeat: no-repeat; background-size: 1px 100%; border-bottom: 1px solid #C6C6C6; border-top: 1px solid #C6C6C6; box-shadow: 1px 1px 2px #E0E0E0; }
.menucontents > UL LI { height: 23px; line-height: 23px; list-style: none; text-align: left; padding-left: 5px; padding-right: 5px; vertical-align: middle; }
.menucontents > UL LI:not(.disabled):hover { background-color: #CDE6F7; }
.imageHolder { text-align: center; padding-top: 4px; width: 16px; height: 16px; }
.imageHolder > IMG { width: 16px; height: 16px; }
.menuItem { height: 23px; line-height: 23px; vertical-align: top; }
