/* General styling for the ribbon. */
.ribbon { height: 117px; cursor: default; }

/* General styling for the tabs. */
.tabs, .tabs > UL, .tabs > UL LI { height: 24px; }
.tabs > UL LI { height: 23px; line-height: 23px; }
li[role=tab] { padding-left: 12px; padding-right: 13px; border: 1px solid transparent; border-bottom: 1px solid #D4D4D4; }

/* Styling for the content of the tabs. */
.contents { left: 0px; color: #444444; height: 93px; width: 100%; display: none; }
.contents.active { display: block; }
.group { height: 91px; margin-top: 3px; vertical-align: top; }
.legend { bottom: 0px; text-align: center; height: 20px; line-height: 20px; width: 100%; }
.icongroup { height: 75px; padding-top: 2px; margin-left: 4px; vertical-align: top; }
.arrow { bottom: 2px; left: 2px; }
.seperator { background-color: #D4D4D4; height: 84px; margin-left: 5px; margin-right: 5px; margin-top: 4px; width: 1px; }

/* Styling for the icons in the tabs. */
.icon.active { background-color: #92c0e0; }
.smallicon { height: 24px; padding-right: 5px; padding-left: 3px; }
.smallicon > IMG { vertical-align: middle; }
.bigicon { padding-left: 3px; padding-right: 3px; padding-top: 1px; vertical-align: top; }
.bigicon > IMG { height: 32px; width: 32px; }
.bigicon:not(.disabled):not(.active):hover, .smallicon:not(.disabled):not(.active):hover { background-color: #CDE6F7; }
.iconlegend { line-height: 16px; }

/* Styling for the menu behind an item. */
.menu { box-shadow: 0 0 0 #888888; display: block; left: 0px; z-index: 9999; display: none; }
.menucontents {  padding: 1px 2px 1px 2px; background-color: #FFFFFF; background-image: linear-gradient(#C6C6C6, #C6C6C6), linear-gradient(#C6C6C6, #C6C6C6); background-position: 0 0px, 100% 0; background-repeat: no-repeat; background-size: 1px 100%; border-bottom: 1px solid #C6C6C6; border-top: 1px solid #C6C6C6; box-shadow: 1px 1px 2px #E0E0E0; }
.menucontents > UL LI { height: 23px; line-height: 23px; list-style: none; text-align: left; padding-left: 5px; padding-right: 5px; vertical-align: middle; }
.menucontents > UL LI:not(.disabled):hover { background-color: #CDE6F7; }
.imageHolder { text-align: center; padding-top: 4px; width: 16px; height: 16px; }
.imageHolder > IMG { width: 16px; height: 16px; }
.menuItem { height: 23px; line-height: 23px; vertical-align: top; }

/* Styling for the footer at the bottom of the website. */
.footer { position: absolute; bottom: 0px; height: 25px; color: white; line-height: 25px; vertical-align: middle; width: 100%; }
.message { padding-left: 10px; text-transform: uppercase; }

/* Styling for the contents of the application. */
.main_area { display: table; }
.main_area_contents { display: table-cell; width: 100%; padding: 10px; }

/* Styling for the breadcrumb. */
.breadcrumb { border-bottom: 1px solid #D4D4D4; height: 25px; line-height: 25px; padding-left: 10px; text-transform: uppercase; }
.breadcrumb .breadcrumbItem { padding-left: 10px; padding-right: 10px; }
.breadcrumb a { text-transform: none; }
.breadcrumb a::after { content: ; }
.breadcrumb a:hover { cursor: pointer; text-decoration: underline; }

/* Styling for the navigation. */
.navigation { display: table-cell; border-right: 1px solid #D4D4D4; min-width: 200px; background: #ffffff; background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+); background: -moz-linear-gradient(top,  #ffffff 0%, #f0f0f0 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f0f0f0)); background: -webkit-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%); background: -o-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%); background: -ms-linear-gradient(top,  #ffffff 0%,#f0f0f0 100%); background: linear-gradient(to bottom,  #ffffff 0%,#f0f0f0 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 );}
.navigation ul { margin: 0; padding: 0; }
.navigation ul a { cursor: pointer; }
.navigation ul li { border-bottom: 1px solid #D4D4D4; font-size: 20px; height: 40px; line-height: 40px; list-style: none outside none; padding-left: 20px; }