li[role=tab].application { background-color: #0072c6; color: #FFF; border: 1px solid #0072c6; }
li[role=tab]:not(.application):hover { color: #0072C6; }
li[role=tab].active { color: #0072C6; border-color: #D4D4D4 #D4D4D4 #FFFFFF; border-style: solid; border-width: 1px; }