/* General styling for the input elements. */
#OfficeUI input { padding: 2px;margin-left: 10px;padding-left: 5px;padding-right: 5px; }
#OfficeUI input:hover, #OfficeUI input:focus { padding-left: 5px;padding-right: 5px; }

/* General styling for error messages. */
#OfficeUI .input-validation-error { border: 1px solid red; }

/* Styling for buttons. */
#OfficeUI input[type="submit"] {font-size: 12px; margin-left: 5px;min-width: 75px;color: #444444;background-color: #FFFFFF;font-family: 'Segoe UI'; border: 1px solid #bec1c4;}

/* Styling for creating a form. */
#OfficeUI .form { width: 100%; }
#OfficeUI .form .row { display: table; margin-left: 10px; margin-right: 10px; }
#OfficeUI .fs_legend, .field { padding: 5px; }
#OfficeUI .fs_legend { display: table-cell; min-width: 200px; }
#OfficeUI .field { display: table-cell; width: 100%; }
#OfficeUI .field input { width: 100%; font-family: 'Segoe UI'; font-size: 12px; color: #444; }