/* General styling for the input elements. */
#OfficeUI input { padding: 2px;margin-left: 10px;padding-left: 5px;padding-right: 5px; }
#OfficeUI input:hover, #OfficeUI input:focus { padding-left: 5px;padding-right: 5px; }

/* General styling for error messages. */
#OfficeUI .input-validation-error { border: 1px solid red; }

/* Styling for buttons. */
#OfficeUI input[type="submit"] {font-size: 12px; margin-left: 5px;min-width: 75px;color: #444444;background-color: #FFFFFF;font-family: 'Segoe UI'; border: 1px solid #bec1c4;}

/* Styling for creating a form. */
#OfficeUI .form { width: 100%; }
#OfficeUI .form .row { display: table;width: 98%;height: 30px;}
#OfficeUI .form .row label { display: table-cell;width: 250px; }
#OfficeUI .form .row input { width: 100%; font-family: 'Segoe UI'; font-size: 12px; color: #444;display: table-cell;}