{{BOS:Sequence}}
	{{If "{{Enabled}}" != "false"}}
		<a href="#" id="{{Required:Id}}">
	{{EndIf}}
	{{If "{{Enabled}}" == "false"}}
		<a href="#" id="{{Required:Id}}" class="OfficeUI_disabled">
	{{EndIf}}
		<div class="{{Required:IconType}}">
			<img src="{{Required:Image}}" />
			<div class="iconlegend">
				{{Legend}}
			</div>
		</div>
	</a>
{{EOS:Sequence}}