{{TMPL:Import=../../../../Data/Templates/Ribbon/icons.tmpl; Name=Icons}}
{{BOS:Sequence}}
	<div class="icongroup">
		<!-- All the different icons are being rendered here. -->
		{{Render:Icons; Value="Icons"}}	
	</div>
{{EOS:Sequence}}