{{TMPL:Import=../../../../Data/Templates/Ribbon/tabs.tmpl; Name=Tabs}}
<div id="{{Required:Id}}" class="ribbon">

	<!-- All the different tabs are being rendered here. -->
	{{Render:Tabs; Value="Tabs"}}
</div>