<!-- Defines the template for the ribbon. -->
{{TMPL:Import=../../../../Data/Templates/Ribbon/tabs.tmpl; Name=Tabs}}
<div id="{{ribbonId}}" class="ribbon">

	<!-- All the different tabs are being rendered here. -->
	{{Render:Tabs; Value="Tabs"}}
</div>