<!-- Defines the template for the tabs. -->
<div class="tabs">
	<ul role="tablist">
		{{BOS:Sequence}}
		<li role="tab" class="{{TabType}}" id="{{tabId}}">
			<span>{{TabFile}}</span>
		</li>
		{{EOS:Sequence}}
	</ul>
</div>