{{TMPL:Import=../../../../Data/Templates/Ribbon/groups.tmpl; Name=Groups}}
<div class="tabs">
	<ul role="tablist">
		{{BOS:Sequence}}
			{{If "{{Id}}" == ""}}
				<li role="tab" class="{{TabType}}">
			{{EndIf}}

			{{If "{{Id}}" != ""}}
				<li role="tab" class="{{TabType}}" id="{{Id}}">
			{{EndIf}}


					<span>{{Name}}</span>

					<!-- All the different groups are being rendered here. -->
					{{Render:Groups; Value="Groups"}}
				</li>

		{{EOS:Sequence}}
	</ul>
</div>