<!-- Defines the template for the ribbon. -->
{{TMPL:Import=../../../../Data/Templates/Ribbon/groups.tmpl; Name=Groups}}
<div class="tabs">
	<ul role="tablist">
		{{BOS:Sequence}}
			<li role="tab" class="{{TabType}}" id="{{Id}}">
				<span>{{Name}}</span>

				<!-- All the different groups are being rendered here. -->
				{{Render:Groups; Value="Groups"}}
			</li>
		{{EOS:Sequence}}
	</ul>
</div>